@import url(http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Montserrat:400,700|Crete+Round:400italic);
* {
    font-family: "Montserrat";
}

#wrapper {
    border-radius: 5px;
    border: 2px solid black;
    margin-top: 15%;
}

.login-header {
    background: #5cb85c !important;
    margin: 0 !important;
    padding: 10px;
}

.well {
    margin: 0 !important;
}

.register-header {
    background: #d9534f !important;
    margin: 0 !important;
    padding: 10px;
}
